<div id="foo">
<div class="footer">
    <div class="sub">
        <h5 class="download-text" style="margin-left: 30px;">DOWNLOAD  THE  APP  ON</h5> 
        <div class="sub1">
            <div><a href="https://apps.apple.com/in/app/shoppers-stop/id1047171444">
            <img id="gp" src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/1115befe-2f44-4ba1-aa4a-2e516cfa8d33/iOs.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-1115befe-2f44-4ba1-aa4a-2e516cfa8d33-nhHOjmu"/></a></div>
            <div><a href="https://play.google.com/store/apps/details?id=shoppersstop.shoppersstop&hl=en"><img id="ap" src="https://www.tanishq.co.in/wps/wcm/connect/tanishq/36630bbd-afb2-4ea8-bb0f-7b922f212045/google-play-store.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_90IA1H80O0RT10QIMVSTFU3006-36630bbd-afb2-4ea8-bb0f-7b922f212045-nhD-nMo/"></a></div>
        </div>
     </div>
      <div class="sub3">
          <div><img id="gp1" src="https://image.shutterstock.com/image-vector/gold-original-product-badge-red-260nw-239006974.jpg"/>
          <p class="st">Authentic<br/>Products</p></div>
          <div><img id="ap1" src="https://uxwing.com/wp-content/themes/uxwing/download/30-logistics-shipping-delivery/delivery-truck.svg"/>
          <p class="st">Free<br/>Delivery*</p></div>
          <div><img id="js1" src="https://image.shutterstock.com/image-vector/easy-returns-vector-logo-trust-600w-2022626432.jpg" alt=""/><p class="st3" style="margin-left: 14%">Easy Exchange and Return</p>
          </div>
          <div><img id="js2" src="https://icon-library.com/images/delivered-icon/delivered-icon-22.jpg" alt=""/>
          <p class="st">Express Store Pickup</p></div> 
      </div>
  
      <div class="sub4">
          <h5 id="hi">FOLLOW US ON</h5>
          <div class="sub5">
              <div><i class="fab fa-facebook-f fb"></i></div>
              <div><i class="fab fa-twitter twit"></i></div>
              <div><i class="fab fa-instagram insta"></i></div>
          </div>
      </div>
</div>
<div class="footer1">
     <div class="sub6">
         <div><img id="im1" src="https://image.shutterstock.com/image-vector/question-vector-icon-600w-523864999.jpg" alt=""></div>
         <strong id="s1">Questions?</strong>
     </div>
        <div><h4 id="v1">VERIFIED BY</h4></div>
        <div><h4 id="v2">PAY SECURELY BY</h4></div>    
</div>
<div class="footer2">
       <div id="ft2"><a class="b" href="mailto:customercare@shoppersstop.com">customercare@shoppersstop.com</a></div>
       <div class="sub7"><img class="i1" src="https://iconape.com/wp-content/files/cd/347555/png/entrust-logo.png" alt="">
       <img class="i1" src="https://iconape.com/wp-content/files/yu/183977/png/mastercard-securecode-logo.png" alt="">
       <img class="i1" src="https://seeklogo.com/images/V/verified-by-visa-logo-6698945B41-seeklogo.com.png" alt="">
      <img class="i1" src="https://getlogovector.com/wp-content/uploads/2019/10/pci-dss-compliant-logo-vector.png" alt=""></div>
      <div class="sub8"><img class="i2" src="https://cdn.iconscout.com/icon/free/png-64/americanexpress-credit-debit-card-bank-transaction-32287.png" alt=""/>
      <img class="i2" src="https://cdn.iconscout.com/icon/free/png-64/visa-credit-debit-card-bank-transaction-32293.png" alt=""/><img style="width:60px;height:60px" src="https://cdn.iconscout.com/icon/free/png-64/mastercard-10-226450.png" alt=""/><img style="width:60px;height:60px;" src="https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/rupay-logo.png" alt=""/></div>
</div>
<div class="footer3">
    <div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">WOMEN</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">MEN</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">KIDS</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">BEAUTY</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">HOMESTOP</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="Women-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1"  id="women">WATCHES</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line"></div>
<div  id="black-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1" style="color:white;" id="women">COUSTEMER</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line-padding"></div>
<div  id="black-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1" style="color:white;" id="women">POLICIES</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line-padding"></div>
<div  id="black-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1" style="color:white;" id="women">STORE AND SITES</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line-padding"></div>
<div  id="black-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1" style="color:white;" id="women">DELIGHFUL PROGRAMS</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line-padding"></div>
<div  id="black-div">
    <div id="div-splitter"><a href="#" ><div><strong class="a1" style="color:white;" id="women">FIRST CITIZEN</strong></div>
        <div>
            &nbsp;<i class="fas fa-chevron-down" id="arrow"></i></div></a>
        </div>
    <ul id="box"></ul>
</div>
<div class="line-padding"></div>
    <div class="footer-dropdown" style="margin-left: 50px;">
        <ul>

            <li><strong class="a1">WOMEN</strong></li>
            <li class="list">Indian wear</li>
            <li class="list">Western wear</li>
            <li class="list">Footwear</li>
            <li class="list">Women's Fragrances</li>
            <li class="list">Bags & Wallets</li>
            <li class="list">Watches</li>
            <li class="list">Sunglasses & Frames</li>
            <li class="list">Jewellery</li>
            <li class="list">Travel</li>   
        </ul>
    </div>
    <div class="footer-dropdown">
      <ul>
         <li><strong class="a1">MEN</strong></li>
         <li class="list">Clothing</li>
         <li class="list">Accessories</li>
         <li class="list">Footwear</li>
         <li class="list">Sunglasses & Frames</li>
         <li class="list">Watches</li>
         <li class="list">Men's Fragrances</li>
         <li class="list">Grooming</li>
         <li class="list">Jewellery</li>
      </ul>
    </div>
    <div class="footer-dropdown">
        <ul>
          <li><strong class="a1">KIDS</strong></li>
          <li class="list">Boys</li>
          <li class="list">Girls</li>
          <li class="list">Infants</li>
          <li class="list">Toys</li>
          <li class="list">School Essential</li>
          <li class="list">Footwear</li>
          <li class="list">Watches</li>
          <li class="list">Accessories</li>
        </ul>
    </div>
    <div class="footer-dropdown">
      <ul>
      <li><strong class="a1">BEAUTY</strong></li>
      <li class="list">Make Up</li>
      <li class="list">Skin Care</li>
      <li class="list">Bath & Body</li>
      <li class="list">Nails</li>
      <li class="list">Haircare</li>
      <li class="list">Tools & Accessories</li>
      <li class="list">Women's Fragrances</li>
      <li class="list">Men's Fragrances</li>
      <li class="list">Grooming For Men</li>
      <li class="list">Personal Hygiene</li>
  </ul>
    </div>
    <div class="footer-dropdown">
       <ul>    
          <li><strong class="a1">HOMESTOP</strong></li>
           <li class="list">Kitchen & Dining</li>
           <li class="list">Decor</li>
           <li class="list">Home Furnishing</li>
           <li class="list">Storage & Organization</li>
           <li class="list">Smart Home and Appliances</li>
           <li class="list">Bath</li>
           <li class="list">Bedding</li>
           <li class="list">Furniture</li>
       </ul>    
    </div>
    </div>
    <br>
<div  class="footer4">
      <div class="footer-dropdown">
          <ul>
              <li style="padding-bottom: 0.5%;"><strong class="c1">CUSTOMER</strong></li>
              <li><p class="p2">HELP/FAQ'S</p></li>
              <li><p class="p2">TRACK ORDER</p></li>
              <li><p class="p2">SIZE GUIDE</p></li>
              <li><p class="p2">BUYING GUIDE</p></li>
              <li><p class="p2">HOW DO I SHOP?</p></li>
              <li><p class="p2">HOW DO I PAY?</p></li>
              <li><p class="p2">FIND PLACES WE DELIVER</p></li>
              <li style="font-size: 12px;margin-left: 20px;">STYLE HUB</li>                
          </ul>
     </div>
     <div class="footer-dropdown">
         <ul>
          <li style="padding-bottom: 4%;"><strong class="c1">POLICIES</strong></li>
          <li><p class="p2">TERMS OF USE</p></li>
          <li><p class="p2">PRIVACY</p></li>
          <li><p class="p2">DELIVERY POLICY</p></li>
          <li><p class="p2">EXCHANGES & RETURNS</p></li>
         </ul>
     </div>
     <div class="footer-dropdown">
         <ul>
          <li style="padding-bottom: 4%;"><strong class="c1">STORE AND <div style="margin-left: 35px;">SITES</div></strong></li>
          <li><p class="p2">ABOUT US</p></li>
          <li><p class="p2">CONTACT US</p></li>
          <li><p class="p2">CORPORATE SITE</p></li>
          <li><p class="p2">STORE LOCATOR</p></li>
          <li><p class="p2">CAREERS</p></li>
          <li><p class="p2">MAP</p></li>    
         </ul>
     </div>
     <div class="footer-dropdown">
      <ul>
       <li style="padding-bottom: 4%;"><strong class="c1">DELIGHTFUL <div style="margin-left: 35px;">PROGRAMS</div></strong></li>
       <li><p class="p2">INSTANT GIFTING</p></li>
       <li><p class="p2">EXPRESS STORE PICK UP</p></li>
       
      </ul>
   </div>
    <div>
      <div id="subdiv">
         <div class="footer-dropdown">
          <ul>
              <li style="padding-bottom: 4%;padding-left: 0.5%;"><strong class="c1">FIRST CITIZEN</strong></li>
              <li><p class="p2">FIRST CITIZEN</p></li>
             </ul>
         </div>
         <div class="footer-dropdown">
          <ul>
              <li id="li1"><p class="c1">REACH US</p></li>
              <li><p class="p2" style="margin-left: 5%;">FOR ANY QUERY PLEASE EMAIL US</p></li>
              <li><p class="p2" style="margin-right:75%">customercare@shoppersstop.com</p></li>
             </ul>
         </div>
       </div>
       <div >
        <select id="BrandSelect" name="BrandSelect">
          <option value=""><strong>BRANDS</strong></option>
          <option value=""><h4>ALLEN SOLLY</h4></option>
          <option value=""><h4>ADIDAS</h4></option>
          <option value=""><h4>ARMANI</h4></option>
          <option value=""><h4>ANNE KLEIN</h4></option>
          <option value=""><h4>SAFARI</h4></option>
          <option value=""><h4>POLO</h4></option>
          <option value=""><h4>PETER ENGLAND</h4></option>
          <option value=""><h4>LOUIS</h4></option>
          <option value=""><h4>SIYARAM</h4></option>
          <option value=""><h4>VIMAL</h4></option>
          <option value=""><h4>MANYAVAR</h4></option>
          <option value=""><h4>SILVER LEAF</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
          <option value=""><h4>VAN HEUSEN</h4></option>
      </select>
       </div>
   </div>
</div>
</div>
<script  src="../script/footer.js"></script>
<script src="https://kit.fontawesome.com/8e2d79e345.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8e2d79e345.js" crossorigin="anonymous"></script>
