<div id="leftpart">
  <hr>
  <h4 class="left-option"><a href="#" id="option11">CATEGORIES<i class="fas fa-chevron-down" id="arrow11"
        style="margin-left: 108px;"></i></a>
  </h4>
  <div id="st11">
    <li><input id="Accessories" type="checkbox" class="sh subcatsort"><label for="check">Accessories (543)</label></li>
    <li><input id="Suits and blazes" type="checkbox" class="sh subcatsort"><label for="check">Suits & Blazers
        (171)</label></li>

    <li><input id="Casual jacket" type="checkbox" class="sh subcatsort"><label for="check">Casual Jackets (151)</label>
    </li>
    <li><input id="Ethnicwear" type="checkbox" class="sh subcatsort"><label for="check">Ethnicwear (712)</label></li>
    <li><input id="Innerwear" type="checkbox" class="sh subcatsort"><label for="check">Innerwear & Nightwear
        (620)</label></li>
    <li><input id="Jeans" type="checkbox" class="sh subcatsort"><label for="check">Jeans (1,242)</label></li>
    <li><input id="Shirts" type="checkbox" class="sh subcatsort"><label for="check">Shirts (3,218)</label></li>
    <li><input id="shorts" type="checkbox" class="sh subcatsort"><label for="check">Shorts (283)</label></li>
    <li><input id="sports" type="checkbox" class="sh subcatsort"><label for="check">Sports & Activewear (1,014)</label>
    </li>
    <li><input id="t-shirts" type="checkbox" class="sh subcatsort"><label for="check">T-Shirts & Polos (3,381)</label>
    </li>
    <li><input id="trousers" type="checkbox" class="sh subcatsort"><label for="check">Trousers (902)</label></li>
    <li><input id="winterwear" type="checkbox" class="sh subcatsort"><label for="check">Winterwear (1,014)</label></li>

  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option12">SUB-CATEGORIES &nbsp;<i class="fas fa-chevron-down" id="arrow12"
        style="margin-left: 77px;"></i></a></h4>
  <div id="st12">
    <li></li><input id="Bottomwear" type="checkbox" class="sh subcatsort"><label for="check">Bottomwear (3)</label></li>
    <li><input id="Boxers" type="checkbox" class="sh subcatsort"><label for="check">Boxers (51)</label></li>
    <li><input id="T-Shirts" type="checkbox" class="sh subcatsort"><label for="check">T-Shirts (361)</label></li>
    <li><input id="sc3" type="checkbox" class="sh subcatsort"><label for="check">Briefs & Trunks (387)</label></li>
    <li><input id="Caps" type="checkbox" class="sh subcatsort"><label for="check">Caps & Hats (73)</label></li>
    <li><input id="sc5" type="checkbox" class="sh subcatsort"><label for="check">Casual Shirts (2,676)</label></li>
    <li><input id="sc6" type="checkbox" class="sh subcatsort"><label for="check">Casual Trousers (602)</label></li>
    <li><input id="sc7" type="checkbox" class="sh subcatsort"><label for="check">Dupattas (3)</label></li>
    <li><input id="Shirts" type="checkbox" class="sh subcatsort"><label for="check">Formal Shirts (523)</label></li>
    <li><input id="Trousers" type="checkbox" class="sh subcatsort"><label for="check">Formal Trousers (300)</label></li>
    <li><input id="sc10" type="checkbox" class="sh subcatsort"><label for="check">Handkerchief (6)</label></li>
    <li><input id="Jackets" type="checkbox" class="sh subcatsort"><label for="check">Jackets (329)</label></li>
    <li><input id="sc12" type="checkbox" class="sh subcatsort"><label for="check">Joggers & Track pants (364)</label>
    </li>
    <li><input id="sc13" type="checkbox" class="sh subcatsort"><label for="check">Kurta Sets (198)</label></li>
    <li><input id="sc14" type="checkbox" class="sh subcatsort"><label for="check">Kurtas (225)</label></li>
    <li><input id="sc15" type="checkbox" class="sh subcatsort"><label for="check">Muffler Scarves & Gloves (17)</label>
    </li>
    <li><input id="sc16" type="checkbox" class="sh subcatsort"><label for="check">Nehru Jackets (283)</label></li>
    <li><input id="sc17" type="checkbox" class="sh subcatsort"><label for="check">Nightwear & Loungewear (96)</label>
    </li>
    <li><input id="sc18" type="checkbox" class="sh subcatsort"><label for="check">Pullover & Cardigan (145)</label></li>
    <li><input id="Shorts" type="checkbox" class="sh subcatsort"><label for="check">Shorts (162)</label></li>
    <li><input id="Socks" type="checkbox" class="sh subcatsort"><label for="check">Socks (263)</label></li>
    <li><input id="sc21" type="checkbox" class="sh subcatsort"><label for="check">Sports Jackets (29)</label></li>
    <li><input id="sc22" type="checkbox" class="sh subcatsort"><label for="check">Sweaters (76)</label></li>
    <li><input id="Sweatshirts" type="checkbox" class="sh subcatsort"><label for="check">Sweatshirts (454)</label></li>
    <li><input id="sc25" type="checkbox" class="sh subcatsort"><label for="check">Squares (59)</label></li>
    <li><input id="sc26" type="checkbox" class="sh subcatsort"><label for="check">Ties Cufflinks & Pocket</label></li>
    <li><input id="sc27" type="checkbox" class="sh subcatsort"><label for="check">Squares (59)</label></li>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option13">BRANDS &nbsp;&nbsp;<i class="fas fa-chevron-down" id="arrow13"
        style="margin-left: 125px;"></i></a></h4>
  <div id="st13">
    <li>
      <div style="display: flex;"><input id="sb" type="text" placeholder="Search Brands..." /><i
          class="fas fa-search"></i></div>
    </li>
    <li></li><input id="b1" type="checkbox" id="ADDON" class="sh brand"><label for="check">ADDON (134)</label></li>
    <li><input id="b2" type="checkbox" id="ADclassAS" class="sh brand"><label for="check">ADclassAS (119)</label></li>
    <li><input type="checkbox" id="ALCIS" class="sh brand"><label for="check">ALCIS (149)</label></li>
    <li><input type="checkbox" id="ALDO" class="sh brand"><label for="check">ALDO (1)</label></li>
    <li><input type="checkbox" id="ALLEN SOLLY" class="sh brand"><label for="check">ALLEN SOLLY (294)</label></li>
    <li><input type="checkbox" id="ALLEN SOLLY" class="sh brand"><label for="check">ALLEN SOLLY JEANS (91)</label></li>
    <li><input type="checkbox" id="ALTLIFE" class="sh brand"><label for="check">ALTLIFE (115)</label></li>
    <li><input type="checkbox" id="ARROW" class="sh brand"><label for="check">ARROW (122)</label></li>
    <li><input type="checkbox" id="ARROW" class="sh brand"><label for="check">ARROW SPORT (99)</label></li>
    <li><input type="checkbox" id="AS TRIBE" class="sh brand"><label for="check">AS TRIBE (57)</label></li>
    <li><input type="checkbox" id="AURELIA" class="sh brand"><label for="check">AURELIA (1)</label></li>
    <li><input type="checkbox" id="AYESHA" class="sh brand"><label for="check">AYESHA (7)</label></li>
    <li><input type="checkbox" id="BANDEYA" class="sh brand"><label for="check">BANDEYA (99)</label></li>
    <li><input type="checkbox" id="BASICS" class="sh brand"><label for="check">BASICS (818)</label></li>
    <li><input type="checkbox" id="BEING HUMAN" class="sh brand"><label for="check">BEING HUMAN (160)</label></li>
    <li><input type="checkbox" id="BIBA" class="sh brand"><label for="check">BIBA (1)</label></li>
    <li><input type="checkbox" id="BLACK PANTHER" class="sh brand"><label for="check">BLACK PANTHER (89)</label></li>
    <li><input type="checkbox" id="BLACKBERRYS" class="sh brand"><label for="check">BLACKBERRYS (265)</label></li>
    <li><input type="checkbox" id="BURNTUMBER" class="sh brand"><label for="check">BURNT UMBER (77)</label></li>
    <li><input type="checkbox" id="CALVIN KLEIN" class="sh brand"><label for="check">CALVIN KLEIN (51)</label></li>
    <li><input type="checkbox" id="CALVIN KLEIN" class="sh brand"><label for="check">CALVIN KLEIN JEANS (166)</label>
    </li>
    <li><input type="checkbox" id="CALVIN KLEIN" class="sh brand"><label for="check">CALVIN KLEIN UNDERWEAR (32)</label>
    </li>
    <li><input type="checkbox" id="CAMPUS SUTRA" class="sh brand"><label for="check">CAMPUS SUTRA (289)</label></li>
    <li><input type="checkbox" id="CELIO" class="sh brand"><label for="check">CELIO (342)</label></li>
    <li><input type="checkbox" id="CELIO JEANS" class="sh brand"><label for="check">CELIO JEANS (294)</label></li>
    <li><input type="checkbox" id="COLUMBIA " class="sh brand"><label for="check">COLUMBIA (61)</label></li>
    <li><input type="checkbox" id="LEE COOPER" class="sh brand"><label for="check">LEE COOPER (95)</label></li>
    <li><input type="checkbox" id="LOUIS PHILIPPE" class="sh brand"><label for="check">LOUIS PHILIPPE (207)</label></li>
    <li><input type="checkbox" id="LOUIS PHILIPPE SPORTS" class="sh brand"><label for="check">LOUIS PHILIPPE SPORTS
        (153)</label></li>
    <li><input type="checkbox" id="PUMA" class="sh brand"><label for="check">PUMA (172)</label></li>
    <li><input type="checkbox" id="REEBOK" class="sh brand"><label for="check">REEBOK (117)</label></li>
    <li><input type="checkbox" id="SPYKAR" class="sh brand"><label for="check">SPYKAR (284)</label></li>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option14">OFFERS &nbsp;<i class="fas fa-chevron-down" id="arrow14"
        style="margin-left: 130px;"></i></a></h4>
  <div id="st14">
    <li></li><input type="checkbox" id="30" class="sh discountsort"><label for="check">Flat 30% Off (1,257)</label></li>
    <li><input type="checkbox" id="25" class="sh discountsort"><label for="check">Flat 25% Off (65)</label></li>
    <li><input type="checkbox" id="51" class="sh discountsort"><label for="check">Flat 51% Off (488)</label></li>
    <li><input type="checkbox" id="63" class="sh discountsort"><label for="check">Flat 63% Off (103)</label></li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 1 @ 40% Off, Buy 2 @ 50% Off (33)</label>
    </li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 3 Get 2 Free (47)</label></li>
    <li><input type="checkbox" id="999" class="sh discountsort"><label for="check">Flat Rs.999/-(44)</label></li>
    <li><input type="checkbox" id="899" class="sh discountsort"><label for="check">Flat Rs. 899/- (52)</label></li>
    <li><input type="checkbox" id="199" class="sh discountsort"><label for="check">Flat Rs. 199/- (1)</label></li>
    <li><input type="checkbox" id="299" class="sh discountsort"><label for="check">Flat Rs. 299/- (13)</label></li>
    <li><input type="checkbox" id="45" class="sh discountsort"><label for="check">Flat 15% Off (307)</label></li>
    <li><input type="checkbox" id="35" class="sh discountsort"><label for="check">Flat 35% Off (64)</label></li>
    <li><input type="checkbox" id="45" class="sh discountsort"><label for="check">Flat 45% Off (277)</label></li>
    <li><input type="checkbox" id="699" class="sh discountsort"><label for="check">Flat Rs.699/- (1)</label></li>
    <li><input type="checkbox" id="1999" class="sh discountsort"><label for="check">Flat Rs. 1999/- (1)</label></li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 2 Get 1 Free (47)</label></li>
    <li><input type="checkbox" id="799" class="sh discountsort"><label for="check">Flat Rs. 799/- (5)</label></li>
    <li><input type="checkbox" id="599" class="sh discountsort"><label for="check">Flat Rs. 599/- (1)</label></li>
    <li><input type="checkbox" id="999" class="sh discountsort"><label for="check">Flat Rs. 999/- (1)</label></li>
    <li><input type="checkbox" id="499" class="sh discountsort"><label for="check">Flat Rs. 499/- (4)</label></li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">BUY FOR Rs.1999 GET Rs.500 OFF (2)</label>
    </li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">BUY FOR Rs.3499 GET Rs.1000 OFF (2)</label>
    </li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">BUY FOR Rs.4999 GET Rs.1500 OFF (2)</label>
    </li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 1 Get 15% Off & Buy 2 Get 25% Off
        (59)</label></li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 1 Get 25% Off & Buy 2 Get 40% Off
        (226)</label></li>
    <li><input type="checkbox" class="sh discountsort"><label for="check">Buy 2 Get Rs. 750/- Off (32)</label></li>
    <li><input type="checkbox" id="179" class="sh discountsort"><label for="check">Flat Rs. 179/- (2)</label></li>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option15">SIZE &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" id="arrow15"
        style="margin-left: 142px;"></i></a></h4>
  <div id="st15">
    <li></li><input type="checkbox" class="sh sizesort"><label for="check">108 (38)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">12-14 Years (4)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">28 (466)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">28-30 (26)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">28-32 (1)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">28-34 (1)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">29 (19)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">29-30 (25)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">29-32 (3)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">30 (1,702)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">30 inch (11)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">30-30 (32)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">30-32 (5)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Flat Rs.699/- (1)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">31 (18)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">31-32 (31)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">31-34 (1)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">32 (1,798)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">32 inch (14)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">32-32 (37)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">32-34 (27)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">32-36 (2)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">33 (113)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">33-32 (29)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">X-Small (280)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">39-SLIM FIT (86)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">40-SLIM FIT (86)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">42-REGULAR FIT (86)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">4X-Large (5)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">5X-Large (6)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Full Sleeve (3)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">LARGE REGULAR (87)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">LARGE SLIM (124)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Large (6,889)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">MEDIUM SLIM (118)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Plus 2 X-Large (3)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">SMALL SLIM (110)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">X-Large (6,289)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">XX-Large (4,405)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">XL REGULAR (122)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">XXX-Large (456)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Size_30 (1)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Large (6,889)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">Medium (6,844)</label></li>
    <li><input type="checkbox" class="sh sizesort"><label for="check">40-SLIM FIT (86)</label></li>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option4">COLORS &nbsp;&nbsp;<i class="fas fa-chevron-down" id="arrow4"
        style="margin-left: 125px;"></i></a></h4>
  <div id="color">
    <ul>
      <li id="beige" class="colorselect"><a href="#">Beige</a></li>
      <li id="black" class="colorselect"><a href="#">Black</a></li>
      <li id="blue" class="colorselect"><a href="#">Blue</a></li>
      <li id="brown" class="colorselect"><a href="#">Brown</a></li>
      <li id="green" class="colorselect"><a href="#">Green</a></li>
      <li id="gray" class="colorselect"><a href="#">Gray</a></li>
      <li id="orange" class="colorselect"><a href="#">Orange</a></li>
      <li id="pink" class="colorselect"><a href="#">Pink</a></li>
      <li id="purple" class="colorselect"><a href="#">Purple</a></li>
      <li id="red" class="colorselect"><a href="#">Red</a></li>
      <li id="white" class="colorselect"><a href="#">White</a></li>
      <li id="yellow" class="colorselect"><a href="#">Yellow</a></li>
      <li id="navy" class="colorselect"><a href="#">Navy</a></li>
    </ul>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option16">DELIVERY TYPE &nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" id="arrow16"
        style="margin-left: 86px;"></i></a></h4>
  <div id="st16">
    <li><input id="express" type="checkbox" class="sh"><label for="check">Express Store Pick up (13,181)
        (2,999)</label></li>
  </div>
  <hr>
  <h4 class="left-option"><a href="#" id="option17">PRICE &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down" id="arrow17" style="margin-left: 134px;"></i></a></h4>
  <div id="st17">
    <li><input type="checkbox" class="sh pricerange" id="51-100"><label for="check">51-100 (5)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="101-500"><label for="check">101-500 (1,132)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="501-1000"><label for="check">501-1000 (2,524)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="1001-2000"><label for="check">1001-2000 (4,668)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="2001-3000"><label for="check">2001-3000 (3,041)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="3001-5000"><label for="check">3001-5000 (1,470)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="5001-10000"><label for="check">5001-10000 (374)</label></li>
    <li><input type="checkbox" class="sh pricerange" id="10001-Infinity"><label for="check">10001 and above (82)</label>
    </li>
  </div>
  <hr>
  <h4 style="margin-left: -70px;">Enter a price range</h4>

  <div id="st16" style="display: inline-block;gap: 18px; height:50px">
    <input id="minamount" style="width:40%" type="text" placeholder="₹">&nbsp;to
      <input id="maxamount" style="width:40%" type="text" placeholder="₹">
  </div>
  <div>
    <button  id="refinesearch" type="submit" class="button-75" role="button"><span class="text">REFINE
        SEARCH</span></button>
  </div>

</div>