<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" cclass="width-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8e2d79e345.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap" rel="stylesheet">
  <title>
    Online Shopping India - Shop for clothes, shoes, Bags, watches @
    Shoppersstop.com
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="https://prodstatic.shoppersstop.com/_ui/responsive/theme-ssl/images/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

   <style>
     *{
      font-family: 'Commissioner', sans-serif;
     }
   </style>
 

      <link rel="stylesheet" href="<%=stylesheet%>">
      <link rel="stylesheet" href="<%=footer%>">
      <%if(header){%>
        <link rel="stylesheet" href="<%=header%>">
        <%}%>


</head>