<div class="one2 none " id="rightbody">
    <li class="head">ORDER SUMMARY</li>
    <li class="bag">

        <div id="discountdiv" class="check" style="display:flex;column-gap: 15px;">
            <input id="discountcode" type="tel" name="discount" placeholder="Enter promo/discount code"
                maxlength="7" value="" style="height: 30px;width:182px;border-radius:10px;"> <input type="submit" id="disbtn"
                value="APPLY" style="height:40px;width:80px">
        </div>
    </li>



    <div class="bag">
        <div>
            <li class="small-1">Sub total</li>
            <li class="small-1">Delivery Charges</li>
            <li class="small-1">Gift packing</li>
            <li class="small-1">Offer Discount </li>
            <li class="small-1">Coupon Discount</li>
        </div>
 <div style="float:right; margin-left: 30px;">
            <li class="small-1" id="subtotal">0</li>
            <li class="small-1" id="delievery">₹ 250</li>
            <li class="small-1" id="giftpack">0</li>
            <li class="small-1" id="offer">0 </li>
            <li class="small-1" id="coupon">0</li>
        </div>
    </div>

    <div class="line" style="margin:25px"></div>
    <div class="bag">
        <div>
            <li class="small-1">Payable amount: </li>
        </div>
        <div style="float:right; margin-left: 40px;">
            <li class="small-1" id="total">0</li>
        </div>
    </div>

    <input id="checkout" type="submit" value="CHECKOUT"
        style=" height:35px;margin-top: 15px;">

</div>