<div id="rightpart">
  <div id="topsortbar">
    <h2 id="category text"></h2>
    <div id="topsorting">
      <div>
        <p>Sort by:</p>
      </div>
      <div><button id="relevence">Relevance</button>|</div>
      <div><button id="Popular">Popular</button>|</div>
      <div><button id="New">New</button>|</div>
      <div><button id="Discount">Discount</button>|</div>
      <div><button id="Best_Seller">Best Seller</button>|</div>
      <div>
        Price:<button id="sortlow">Low</button>|<button id="sorthigh">
          High
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div id="product_container" >

  </div>
  <div id="paginationcontainer" class="pagination_section"></div>
</div>
