<%- include('../partials/metadata', {stylesheet: "css/home.css" , footer: "css/footer.css" , header:"css/header.css"}); %>
<style> 
  a + a {
  float: right;
}
</style>
  <body>
    <%- include('../partials/header', {}); %>
    <%- include('../partials/navbar', {}); %>
      <div class="top width" style="cursor: pointer;"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/h63/h07/26707686719518/Eoss-Logo-Strip-15-%26-16-Dec-Web20211512newrevised.gif"
          alt=""></div>
      <div class="slideshow-container">
        <div class="mySlides1 fade none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h24/h16/26703431401502/EOSS-Banner-Web_20211214.jpg"
            class="width">
        </div>

        <div class="mySlides1 fade none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hb9/hee/26709362507806/Homepage-Carousals-Men-Web_20211216.jpg"
            class="width">
        </div>

        <div class="mySlides1 fade none">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hb7/h11/26703431598110/Homepage-Carousals-Dresses-Web_20211214.jpg"
            class="width">
        </div>
        <div class="mySlides1 fade none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hd8/h04/26703431925790/Homepage-Carousals-Beauty-Web_20211214.jpg"
            class="width">
        </div>

        <div class="mySlides1 fade none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h31/h57/26703432515614/Homepage-Carousals-Watches-Web_20211214.jpg"
            class="width">
        </div>

        <div class="mySlides1 fade none">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hf0/h5a/26703432646686/Homepage-Carousals-Fragrances-Web_20211214.jpg"
            class="width">
        </div>
        <div class="mySlides1 fade">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hc0/h61/26703432843294/Homepage-Carousals-Home-Web_20211214.jpg"
            class="width">
        </div>
      </div>
      <br>
      <div class="dots">
        <span class="dot1" onclick="currentSlide(1)"></span>
        <span class="dot1" onclick="currentSlide(2)"></span>
        <span class="dot1" onclick="currentSlide(3)"></span>
        <span class="dot1" onclick="currentSlide(4)"></span>
        <span class="dot1" onclick="currentSlide(5)"></span>
        <span class="dot1" onclick="currentSlide(6)"></span>
        <span class="dot1 active" onclick="currentSlide(7)"></span>
      </div>
      <div class="margin"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/h55/h7a/26707708739614/Citi-Bank-Strip-Webnewrevised20211512.jpg" />
      </div>
      <div class="margin"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/hc9/h1e/17501669326878/FC-Strip-Web.jpg" /></div>
      <div class="slideshow-container2 width margin">
        <div class="mySlides2 fade2 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h7a/h89/26496613548062/Only_Ananya_Webhomepg_2021011.jpg"
            class="width" alt="" />
        </div>
        <div class="mySlides2 fade2 none">
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h8e/h17/26436743692318/jockeyWomen_web.jpg"
            class="width" alt="">
        </div>
        <div class="mySlides2 fade2 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h80/hd9/26404781260830/Juniper%20Chitrahaar%20Banner-10.png"
            class="width alt=">
        </div>
        <div class=" mySlides2 fade2 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h99/hca/17559559143454/Fossil-Couple-Static-Web.jpg"
            class="width alt=">
        </div>
  
        <div class=" mySlides2 fade2 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h3c/he6/26476854476830/CAROUSAL--STATIC-Webpaid281-21.jpg"
            alt="" class="width">
        </div>

      </div>
      <br>
      <div class="dots">
        <span class="dot2" onclick="currentSlide(1)"></span>
        <span class="dot2" onclick="currentSlide(2)"></span>
        <span class="dot2" onclick="currentSlide(3)"></span>
        <span class="dot2" onclick="currentSlide(4)"></span>
        <span class="dot2" onclick="currentSlide(5)"></span>
      </div>
      <h1 class="btn34">Smart WatchTon</h1>
      <div id="boxes">
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h5c/h06/26496596475934/Web_Fossil_MbyN_Homepg_20211101.jpg" />
        </div>
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h6e/h09/26496596541470/Web_Fire-Boltt_MbyN_Homepg_20211101.jpg" />
        </div>
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h2d/h0d/26496596672542/Web_Casio_MbyN_Homepg_20211101.jpg" />
        </div>
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h2b/h10/26496596738078/Web_Crossbeat_MbyN_Homepg_20211101.jpg" />
        </div>
        <div class=""><img
            src="https://sslimages.shoppersstop.com/sys-master/root/hea/h13/26496596869150/Web_Garmin_MbyN_Homepg_20211101.jpg" />
        </div>
        <div class=""><img
            src="https://sslimages.shoppersstop.com/sys-master/root/hb8/h61/26496597000222/Web_Timex_MbyN_Homepg_20211101.jpg" />
        </div>
      </div>
      <div sclass="margin"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/h08/haf/26515058622494/Winterwear-Main-Carousals-Web.jpg" />
      </div>
      <div><img
          src="https://sslimages.shoppersstop.com/sys-master/root/h97/hea/17407188238366/Just-Launched-Brands-Strip-Web.jpg">
      </div>

      <div class="slideshow-container3 ">
        <div class="myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hf6/h60/26453519335454/Web_Homepage-Carousel-Arcelia_20211024.jpgclass="
            width alt="">
        </div>

        <div class="myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h75/h68/26453519597598/Web_Homepage-Carousel-Aurelia_20211024.jpg"
            class="widthalt=">            </div>
      
            <div class=" myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h45/h6f/26453519794206/Web_Homepage-Carousel-Layers_20211024.jpg"
            class="widthalt=">            </div>
            <div class=" myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hd7/h41/26429229826078/HP%20banner_1840x600_6%20%281%29.jpg"
            class="widthalt=">            </div>
      
            <div class=" myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h37/h06/26456959647774/charchit_web_justlaunch_251021.jpg"
            class="widthalt=">            </div>
      
            <div class=" myslides3 fade3 none">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hd5/h26/26493493084190/Web_clara_Static_Homepg_20211030.jpg"
            class="widthalt=">            </div>
            <div class=" myslides3 fade3" class=" block">
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hcb/hc0/26476853952542/Web_crossbeats_Carousal_Homepg_20211028.jpgclass="
            width alt="">
        </div>
      </div>
      <br>
      <div class="dots">
        <span class="dot3" onclick="currentSlide(1)"></span>
        <span class="dot3" onclick="currentSlide(2)"></span>
        <span class="dot3" onclick="currentSlide(3)"></span>
        <span class="dot3" onclick="currentSlide(4)"></span>
        <span class="dot3" onclick="currentSlide(5)"></span>
        <span class="dot3" onclick="currentSlide(6)"></span>
        <span class="dot3 active" onclick="currentSlide(7)"></span>
      </div>
      <div class="margin"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/hf4/h9d/26496621084702/Homepage-Strip-Size-Infuse-Web.jpg"
          alt=""></div>
      <div class="margin"> <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hff/h77/26496605945886/couponCode-strip_web_home_211101.jpg"
          alt=""></div>
      <h1 class="btn34">Top Deals</h1>
      <div id="boxes">
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h08/hf5/26515070976030/Infuse-Western-------web-01.jpg"
            alt=""></div>
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h4c/haa/26515071041566/Life---5th%20nov---web-01.jpg"
            alt="" /> </div>
        <div><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h4d/ha7/26515071107102/Handbags-----5thnov-web-01.jpg"
            alt=""></div>
        <div class=""><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h8d/ha6/26515071172638/Fratini-5th%20nov----web-01.jpg"
            alt=""></div>
        <div class=""><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h8e/ha3/26515071238174/Stop-------web-5thnov01.jpg"
            alt=""></div>
        <div class=""><img
            src="https://sslimages.shoppersstop.com/sys-master/root/h7e/ha0/26515071303710/Footwear----5%20th%20nov---web-01.jpg"
            alt="" /></div>
      </div>
      <div class="slideshow-container">
        <div class="mySlides4 fade" style="display: none;">
          <img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/h99/hd1/26456978259998/lakme_web.jpg">
        </div>
        <div class="mySlides4 fade" style="display: none;">
          <img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/hd8/hbd/26456972558366/colorbar_web.jpg">
        </div>
        <div><img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/hbe/h28/17479975763998/Best-Beauty-Brands_strip-web.jpg">
        </div>
        <div class="mySlides fade" style="display: block;">
          <img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/h21/ha5/26522408255518/arcelia-bathBody_webhomepg2109.jpg">
        </div>
      </div>
      <br>
      <div style="text-align: center; margin-top: -50px; position: relative">
        <span class="dot4" onclick="currentSlide(1)"></span>
        <span class="dot4" onclick="currentSlide(2)"></span>
        <span class="dot4 active" onclick="currentSlide(3)"></span>
      </div>

      <div class="cont">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h89/h5c/26500009852958/Gift-Banner-Web.jpg">
      </div>
      <h1 class="btn34">Top Categories</h1>
      <div class="grid">
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h8a/h0d/26518036545566/Indian-wear-Sets----WEB-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h79/h0a/26518036611102/T-shirts----WEB-.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hcb/h09/26518036676638/Kids-indianwear----WEB-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hba/h06/26518036742174/Watches---WEB-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hbc/h03/26518036807710/Footwears---WEB-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hfa/h02/26518036873246/Accessories---WEB-.jpg">
        </div>
      </div>
      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hd0/h68/26450013552670/Web_Homepage-Strip-Size-Accessories_Static_20211023.jpg">
      </div>

      <h1 class="btn34">Top Brands for Handbags &amp; Footwear</h1>
      <div class="grid">
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/ha7/hbf/26518038380574/Catwalk-----web-01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/ha5/hc2/26518038446110/ED-Handbags----web-01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hb6/hc5/26518038511646/Adidas----web-01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h64/hc6/26518038577182/Hidesign----web-01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h75/hc9/26518038642718/Lemon-Pepper---web-01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h73/hcc/26518038708254/Jack-n-Jones---web-01.jpg">
        </div>
      </div>
      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h10/h65/26450013421598/Web_Homepage-Multiclick-Sizes-Watches_20211023.jpg">
      </div>
      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/he1/h0d/26450004082718/Web_Homepage-Multiclick-Sizes-Indian-Wear-Sets_20211023.jpg">
      </div>
      <h1 class="btn34">Top Brands For Women</h1>
      <div class="grid">
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/hdc/h62/26518037725214/Zink-London-2-----web-01-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h9b/h66/26518037856286/BIBA----web-01-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h5b/h6a/26518037987358/RARE----web-01-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h17/hb5/26518038052894/Janasya--web-01-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h15/hb8/26518038118430/GIPSY---web-01-.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/he6/hbe/26518038315038/Triumph---web-01-.jpg">
        </div>
      </div>

      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h51/h25/26443016077342/Web_bedsheets_Static_Homepg_20211023.jpg">
      </div>
      <h1 class="btn34">Top Home Brands</h1>
      <div class="grid">
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h67/h23/26496622559262/IVY-----WEB--01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h56/h20/26496622624798/Fern-%26-Treasures----WEB--01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h97/h1c/26496622755870/Wonderchef----WEB--01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h86/h19/26496622821406/Spaces----WEB--01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hd8/h18/26496622886942/FNS--WEB--01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hc7/h15/26496622952478/Philips---WEB--01.jpg">
        </div>
      </div>

      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h37/h37/26443010932766/Web_Shirts_Static_Homepg_20211022.jpg">
      </div>
      <h1 class="btn34">Top Brands For Men</h1>
      <div class="grid">
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/ha1/h38/26496623149086/Jack-%26-Jones--WEB--01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/hb2/h3b/26496623214622/USPA----WEB--01.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h74/h3c/26496623280158/spaykar---WEB--01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h71/h3f/26496623345694/LOUIS-PHILIPPE----WEB--01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h83/h42/26496623411230/ALLEN-SOLLY---WEB--01.jpg">
        </div>
        <div>
          <img
            src="https://sslimages.shoppersstop.com/sys-master/root/h30/h43/26496623476766/INDIAN-TERRAIN----WEB--01.jpg">
        </div>
      </div>

      <div class="cont">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h01/h5f/26450013290526/Web_Homepage-Strip-Size-Toys_Static_20211023.jpg">
      </div>
      <h1 class="btn34">Top Brands For Kid</h1>
      <div class="grid">
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h41/h54/17559560388638/allenSolly_widget.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h52/h57/17559560454174/gini%26jony_widget.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h50/h5a/17559560519710/hamleys_widget.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h11/h5b/17559560585246/vastramay_widget.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h22/h5e/17559560650782/cutecumber_widget.jpg">
        </div>
        <div>
          <img src="https://sslimages.shoppersstop.com/sys-master/root/h20/h61/17559560716318/biba_widget.jpg">
        </div>
      </div>
      <div style="margin-top:50px;"><img
          src="https://sslimages.shoppersstop.com/sys-master/root/h68/hf2/17035282415646/home-page-----Brand-of-the-day-----strip--WEB-----.jpg"
          class="width" alt=""></div>

      <div class="slideshow-container" style="margin-bottom:50px; ">
        <div class="mySlides5 fade" style="display: none;">
          <img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/hc2/h75/26527624134686/skagen_web.jpg">
        </div>
        <div class="mySlides5 fade" style="display: none;">
          <img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/h81/h79/26527624265758/ELLEMENTRY-----WEB.jpg">
        </div>
        <div><img width="100%"
            src="https://sslimages.shoppersstop.com/sys-master/root/h40/h7d/26527624396830/Non-App-Shekahr-10th-Nov-BOD-Web.jpg">
        </div>

      </div>

      </div>
      <br>
      <div style="text-align: center; margin-top: -50px; position: relative">
        <span class="dot5" onclick="currentSlide(1)"></span>
        <span class="dot5" onclick="currentSlide(2)"></span>
        <span class="dot5 active" onclick="currentSlide(3)"></span>

      </div>
      <div><img class="width"
          src="https://sslimages.shoppersstop.com/sys-master/root/hd5/h8e/26414815215646/Product-of-the-Day-Strip-Web.jpg"
          alt=""></div>

      <div><img class="width margin"
          src="https://sslimages.shoppersstop.com/sys-master/root/h4f/h83/26527624527902/Harissa-Mug----NEW-UI--WEB-.jpg"
          alt=""></div>
      <div><img class="width margin"
          src="https://sslimages.shoppersstop.com/sys-master/root/h67/hc8/26456972886046/Web_Personal-Shoppers-Visibility-Strip_20211026.jpg"
          alt=""></div>

      <%- include('../partials/footer', {}); %>



  </body>
  <script src="./script/Home.js"></script>
  <script src="./script/signin.js"></script>


  </html>